<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# greatcirclemedia: http://ogp.me/ns/fb/greatcirclemedia#" >
<head>
<title>{% block title %}{% endblock %}</title>
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
<meta charset="UTF-8" />
{% block favicons %}{% endblock %}
{% block styles %}{% endblock %}
{% block ie_crap %}{% endblock %}
{% block js_top %}{% endblock %}
{% block analytics %}{% endblock %}
</head>
<body class="gray centered">
{% block menubar %}{% endblock %}
<div id="wrapper_l2" class="centered">
    <div class="inner_l2 centered">
        <div id="l2_leftcol">
            {% block content %}{% endblock %}
      </div>
        <div id="l2_rightcol">
            {% block layout2_rightcol %}{% endblock %}
        </div>
    </div>
    <br class="clear"/>
</div>
<div id="footer" class="centered">
{% block footer %}{% endblock %}
</div>
{% block js_btm %}{% endblock %}
</body>
</html>
