<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns# fb:http://www.facebook.com/2008/fbml" >
<head>
<title>{% block title %}{% endblock %}</title>
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
<meta charset="UTF-8" />
{% block favicons %}{% endblock %}
{% block styles %}{% endblock %}
{% block ie_crap %}{% endblock %}
{% block js_top %}{% endblock %}
{% block analytics %}{% endblock %}
</head>
<body class="gray centered">
{% block menubar %}{% endblock %}
<div id="wrapper_splash" class="centered">
    <div class="inner_splash centered">
        <div id="leftcol_splash">
            {% block content %}{% endblock %}
      </div>
        <div id="rightcol_splash">
            {% block splash_sponsors %}{% endblock %}
        </div>
    </div>
    <br class="clear"/>
</div>
        <br class="clear"/>
<div id="footer_splash" class="centered">
{% block footer %}{% endblock %}
</div>
{% block js_btm %}{% endblock %}
</body>
</html>
