{# overrides vendor/sonata-project/user-bundle/Sonata/UserBundle/Resources/views/Profile/edit_authentication.html.twig #}

{% extends 'SonataUserBundle::layout.html.twig' %}

{% block content %}
<div class="sonata-user-edit-authentication" style="text-align:left;line-height:2em;">
    <p style="margin-top:30px;">
        <a href="{{ path('fos_user_profile_show')}}">&laquo; Go Back</a>
    </p>
    <br style="line-height: 50px;"/>
    <p style="font-weight:600;font-size:1.2em;">
        Change Username or Email
    </p>

    <form action="{{ path('sonata_user_profile_edit_authentication') }}" method="POST">
        {{ form_rest(form) }}

        <input type="submit" name="submit" value="{{ 'sonata_user_submit'|trans({}, 'SonataUserBundle') }}" />
    </form>
    <br style="line-height: 100px;"/>
</div>
{% endblock %}