<!DOCTYPE HTML>
<html xmlns:fb="facebook.com/2008/fbml">
<head>
<title>FB gcmaz Test</title>
<meta charset="utf-8">
<style type="text/css">
        #container_notlike, #container_like { display:none; }
</style>
<script type="text/javascript" src="{{ asset('scripts/jquery-1.9.1.min.js') }}"></script>

</head>
<body class="centered">
    {{ facebook_initialize({'xfbml': true, 'fbAsyncInit': 'onFbInit();'}) }}

    <div id="logincheck">
        {# facebook_login_button({'autologoutlink': true}) #}
        <p>Please login to continue</p>
    </div>
    <br/>
    <div id="container_notlike" style="width:30%;height:30%;margin:auto;text-align: center;background-color:#ccc;">
        <p style="font-size:2em;font-weight:700;">Did you like this sponsor page ? </p>
    </div>
    <br/>
    <div id="container_like" style="width:30%;height:30%;margin:auto;text-align: center;background-color:#ccc;">
        <p>Yay you like us!</p>
    </div>
    <br/><br/><br/><br/><br/>
<script type="text/javascript">
    
    function onFbInit()
    {
        if (typeof(FB) != 'undefined' && FB != null )
        {
            // Check if the current user is logged in and has authorized the app
              FB.getLoginStatus(checkLoginStatus);

              // Login in the current user via Facebook and ask for email permission
              function authUser()
              {
                FB.login(checkLoginStatus, {scope:'email,user_likes,uid'});
              }

              // Check the result of the user status and display login button if necessary
            function checkLoginStatus(response)
            {
                if(response && response.status == 'connected')
                {

                      // Hide the login button
                      document.getElementById('logincheck').style.display = 'none';

                      //get user and page info
                      var user_id = response.authResponse.userID;
                      var page_id = "161343687394668"; 
                      // doesn't work .... var page_id = response.authResponse.pageID;

                      var fql_query = "SELECT uid FROM page_fan WHERE page_id = "+page_id+"and uid="+user_id;
                      var the_query = FB.Data.query(fql_query);

                      the_query.wait(function(rows)
                      {
                          if (rows.length == 1 && rows[0].uid == user_id)
                          {
                              $("#container_like").show();

                              //here you could also do some ajax and get the content for a "liker" instead of simply showing a hidden div in the page.

                          } else {
                              $("#container_notlike").show();
                              //and here you could get the content for a non liker in ajax...
                          }
                      });

                } else {
                      // Display the login button
                      document.getElementById('logincheck').style.display = 'block';
                }
            }
        }
    }

</script>
</body>
</html>
