{# overrides vendor/friendsofsymfony/user-bundle/FOS/UserBundle/Resources/views/ChangePassword/changePassword.html.twig #}

{% extends 'SonataUserBundle::layout.html.twig' %}

{% block content %}
<div style="text-align:left;line-height:2em;">
    <p style="margin-top:30px;">
        <a href="{{ path('fos_user_profile_show')}}">&laquo; Go Back</a>
    </p>
    <br style="line-height: 50px;"/>
    <p style="font-weight:600;font-size:1.2em;margin-bottom:10px;">
        Change Password
    </p>
    {% block fos_user_content %}
        {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
    {% endblock fos_user_content %}
    <br style="line-height: 100px;"/>
</div>
{% endblock %}